ssl_verify: false
vsphere:
  vcenter_dev:
    host: vcenter.host.dev
    passwd: password
    port: 443
    user: username
  vcenter_prod:
    host: vcenter.host.prod
    passwd: password
    port: 443
    user: username
